# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.sass-cache/
dist/
build/
*.js
*.css
*.map

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
logs/*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp
*.bak

# Ignore Makefile
Makefile
